<table class="table">
  <h2>User info</h2>
  <tr>
    <td>
        <% if @user.profile_image.attached? %>
          <%= image_tag @user.profile_image, size: "100x100" %>
        <% else %>
          <%= image_tag 'default-image', size: "100x100" %>
        <% end %>
    </td>
  </tr>
  <tr>
    <th>name</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>introduction</th>
    <td><%= @user.introduction %></td>
  </tr>
</table>
<div class="row">
  <div class="btn btn-outline-secondary btn-block">
    <%= form_with model: @user, url: edit_user_path(current_user), class: "fas fa-user-cog" do |f| %>
    <% end %>
  </div>
</div>